#profileView {
    padding: 1rem 1rem;
    position: relative;
    border: 2px solid silver;
    border-radius: 0 0px 6px 6px;
}

#bioImg > img {
    border-radius: 500rem;
}

#bioContent {
    text-align: left;
}

#Username {
    display: inline-block;
    font-family: Muli,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,.85);
}

#Name {
    margin: .25em 0 0 1rem;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0,0,0,.6);
}

#Description {
    margin: .6em 0 0 1rem;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
}

#UsrUrl {
    display: block;
    position: relative;
    background: none;
    margin: .5rem 0 0 1rem;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    box-shadow: none;
    transition: color .3s ease;
    border-top: none;
}
